.header {
    background-color: white;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px;
  
  }
  
  body {
    padding: 0px;
    margin: 0;
    height: 100vh;
    width: 100vw;
  }
  .upperHeading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
  }
  
  .navlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60%;
  }
  .discovery {
    display: flex;
    height: 50px;
  }
  .link {
    color: white;
  }
  .bgclip{

    z-index: -1;

  }